html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: url('/assets/images/login_bg.jpg');
    background-size: cover;
}

#logo {
    margin: 10px 0 0 50px;
}

#login,
#register {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
}

#register {
    display: none;
}

.title {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}

form {
    margin: 0 30px;
}

#goto-reg {
    float: right;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 12px;
    left: 10px;
}

.layui-input {
    padding-left: 30px;
}